/*
* @Date:   2017-06-20 14:33:29
* @Last Modified time: 2017-06-20 22:21:28
*/

/* ==========
    主要区域
   ========== */
#container{
    width: 1200px; height: 1020px;
    margin:0px auto;
    text-align: center;
    display: flex;
}

/** 左导航 **/
.leftNav{
    width: 240px; height: 1020px;
}
.leftNav h2{
    color: #3B8EDE;
    margin-top: 10px;
}
.leftNav h3{
    color: #2D68A1;
    margin-bottom: 15px;
    font-size: 23px;
}
.leftNav ul li + li{
    margin-top: 16px;
}
.leftNav ul li a{
    width: 240px; height: 50px;
    color: #FAFCFE;
    background: #3B8EDE;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
}
.leftNav ul li a:hover{
    background: #2D68A1;
}

/** 右产品详情 **/
.product_detail_wrap{
    width: 935px;
    margin-left: 25px;
}
.product_detail_wrap .submenu{
    color: #C0C0C0;
    margin-top: 44px;
    border-bottom: #C0C0C0 2px solid;
}
.product_detail_wrap .submenu:after{
    content: "";
    display: table;
    clear: both;
}
.product_detail_wrap .submenu span{
    font-size: 15px;
    float: right;
    display: flex;
}
.product_detail_wrap .submenu span a:hover{ color:#3B8EDE; }

.product_detail h2{
    color: #34469E;
    margin: 30px 0px 20px 0px;
}
.product_detail .item01{
    width: 100%; height: 455px;
    margin-bottom: 20px;
}
.product_detail .item01 p{
    float: left;
    width: 305px;
    color: #5C5B5B;
    font-size: 15px;
    text-align: left;
    text-indent: 2em;
    line-height: 27px;
    margin: 20px 0px 0px 20px;
}
.product_detail .item02 img{ float: left; }
.product_detail .item02 p{
    padding: 65px 0px 0px 347px;
    color: #5C5B5B;
    font-size: 15px;
    text-align: left;
    line-height: 27px;
}
.product_detail .pageturn{
    font-size: 15px;
    color: #5C5B5B;
    margin: 40px 0px 50px 0px;
}
.product_detail .pageturn a:hover{ color: #3B8EDE; }
.product_detail .pageturn a:first-child{
    margin-left: 80px;
    float: left;
}
.product_detail .pageturn a:last-child{
    margin-right: 80px;
    float: right;
}