/* =============
    全局样式
   ============= */

/**** 重置样式 ****/
*{
    margin: 0;
    padding: 0;
}
img{
    border:0;
}
ol, ul ,li{list-style: none;}

/**** 基本默认值 ****/
html{
    font-size: 62.5%;   /* 1rem = 10px */
}
::selection{
}

/* =============
    自定义样式
   ============= */
body{
    font-size: 12px;
    font-family: Segoe UI, "Microsoft Yahei";
}
a{
    color: #666;
    display: inline-block;
    text-decoration: none;
}
a:hover,a:active,a:link{
    color: #666;
    text-decoration: none;
    cursor: pointer;
}
a:visited{
    color: #666;
    text-decoration: none;
}
img{
    max-width: 100%;
    display: inline-block;
}
button{
    border: none;
    outline: 0;
}

/**** 头部 ****/
header > img{
    min-height: 1000px;
    position: absolute;
    top: 0;
    z-index: -10;
}
header a:hover{color: #333;}
@media screen and (max-width:992px){
    header > img{
        min-height: 700px;
    }
}
@media screen and (max-width:520px){
    header > img{
        min-height: 650px;
    }
}
/** 移动端菜单导航 **/
.menu-mobile{
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    margin-top: -138px;
}
.menu-mobile a{
    color: #F65A5B !important;
}
.menu-mobile i{
    width: 100% !important;
    color: #F65A5B;
}
@media screen and (max-width:400px){
    .menu-mobile i{
        font-size: 40px !important;
    }
    .menu-mobile{
        margin-top: -92px;
    }
}
/** 顶部导航 **/
.top-nav{
    color: #FFF;
    background: #F65A5B;
    border-bottom: 3px solid #FFF;
}
.top-nav a{color: #FFF;}
.top-nav .item-wrap{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.top-nav .logo img{vertical-align: middle;}
.top-nav .login a:first-of-type{
    padding-right: 20px;
    border-right: 2px solid #CCC;
    margin-right: 20px;
}
.top-nav .mobile-menu-button{
    width: 50px; height: 50px;
    background: #F65A5B;
    position: absolute;
    top: 0; left: calc(50% - 25px);
    display: none;
}
.top-nav .mobile-menu-button:hover{
    cursor: pointer;
}
.top-nav .mobile-menu-button span{
    width: 30px; height: 4px;
    margin: 0px auto;
    border-radius: 60px;
    display: block;
    background: #FFF;
}
.top-nav .mobile-menu-button span:nth-of-type(2){
    width: 38px;
}
.top-nav .mobile-menu-button span:first-of-type{
    margin-top: 15px;
}
.top-nav .mobile-menu-button span + span{
    margin-top: 5px;
}
/** 手机菜单按钮动画 **/
.mobile-menu-button{
  transition: all 0.3s ease-in-out;
}
.mobile-menu-button.is-active{
  animation: smallbig 0.6s forwards;
}
@keyframes smallbig{
  0%, 100%{
    transform: scale(1);
  }
  50%{
    transform: scale(0);
  }
}
.mobile-menu-button.is-active span:nth-child(1),
.mobile-menu-button.is-active span:nth-child(2),
.mobile-menu-button.is-active span:nth-child(3){
  transition-delay: 0.2s;
}
.mobile-menu-button.is-active span:nth-child(2){
  opacity: 0;
}
.mobile-menu-button.is-active span:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.mobile-menu-button.is-active span:nth-child(3){
  transform: translateY(-10px) rotate(-45deg);
}

.top-nav .shop-car button{
    width: 50px; height: 50px;
    background: #FFF;
}
.top-nav .shop-car a i{margin-left: 10px;}
@media screen and (max-width:992px){
    .top-nav .login{
        margin-left: 10px;
    }
    .top-nav .logo,.top-nav .shop-car a{
        display: none;
    }
    .top-nav .shop-car button{
        background: transparent;
    }
    .top-nav .mobile-menu-button{
        display: block;
    }
}
/** 主导航 **/
.main-nav a{
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    text-shadow: 0px 1px 0px;
    text-align: center;
    color: #1F2020;
    background: rgba(255,255,255,0.5);
}
.main-nav a:hover,.main-nav a:first-of-type{
    color: #FFF;
    background: #204056;
}
@media screen and (max-width:992px){
    .main-nav{
        display: none !important;
    }
    header .main-nav-mobile{
        display: block;
    }
}
/** 巨幕 **/
.jubomtron img{margin-top: 50px;}
.jubomtron .header{
    font-size: 38px;
    color: #F65A5B;
    margin-top: -18px;
}
.jubomtron .decription{
    font-size: 36px;
    color: #FFF;
}
.jubomtron a{
    width: 185px; height: 46px;
    line-height: 46px;
    font-size: 20px;
    color: #FFF;
    background: rgba(246,90,91,0.7);
    border-radius: 2px;
    margin-bottom: 85px;
}
.jubomtron a:hover{
    color: #FFF;
    background: rgba(246,90,91,0.9);
}
@media screen and (max-width:992px){
    .jubomtron .decription{
        font-size: 24px;
    }
    .jubomtron a{
        margin-bottom: 40px;
    }
}
@media screen and (max-width:520px){
    .jubomtron a{
        margin-bottom: 0px;
    }
    .jubomtron > img{
        opacity: 0;
    }
}
/** 导引 **/
.leader .column{
    opacity: 0;
}
.leader .image{
    height: 175px;
    text-align: center;
    background: rgba(255,255,255,0.4);
    padding-top: 35px;
}
.leader .image .header{
    font-size: 18px;
    text-shadow: 0px 1px 0px;
    margin-top: 6px;
}
.leader .content{
    color: #EEE;
    font-size: 16px;
    text-indent: 2em;
    padding: 35px;
    padding-top: 18px;
}
.leader .content p{
    line-height: 28px;
    margin-bottom: 15px;
}
@media screen and (max-width:992px){
    .leader .content{
        display: none;
    }
}
@media screen and (max-width:520px){
    .leader .image{
        color: #FFF;
        background: transparent;
    }
}

/**** 主体 ****/
.main h3{
    color: #F65A5B;
    font-size: 22px;
    font-weight: normal;
    text-shadow: 0px 1px 0px;
    text-align: center;
    padding-top: 55px;
    margin-bottom: 60px;
    position: relative;
}
.main h3:after{
    content: '';
    width: 160px; height: 2px;
    display: block;
    background: #000;
    position: absolute;
    bottom: -20px; left: calc(50% - 80px);
}
/** 特别感谢 **/
.thanks p{
    max-width: 830px;
    line-height: 28px;
    font-size: 16px;
    text-indent: 2em;
    margin: 0px auto;
    margin-bottom: 35px;
}
.thanks .column{
    color: #FFF;
    background: #204056;
    padding: 0px !important;
}
.thanks .column:nth-of-type(2),.thanks .column:nth-of-type(5){
    margin: 0px 30px;
}
.thanks .column img{width: 100%; height: 100%;}
.thanks .header{
    font-size: 28px;
    text-align: center;
    margin: 10%;
}
.thanks .description{
    line-height: 30px;
    font-size: 16px;
    text-indent: 2em;
    margin: 0px 10%;
}
.thanks .price{
    font-size: 16px;
    margin-right: 10%;
    margin-top: 10%;
    float: right;
}
.thanks .price strong{
    font-size: 36px;
    margin-right: 5%;
}
@media screen and (max-width:992px){
    .thanks p{
        margin: 0px 5%;
        margin-bottom: 35px;
    }
    .thanks .column:nth-of-type(2),.thanks .column:nth-of-type(5){
        margin: 0px 0px;
    }
}
@media screen and (max-width:680px){
    .thanks .header{
        font-size: 22px;
    }
    .thanks .description{
        line-height: 22px;
        font-size: 14px;
    }
    .thanks .price{
        margin-top: 5%;
        margin-bottom: 2%;
    }
    .thanks .price strong{
        font-size: 28px;
    }
}
@media screen and (max-width:390px){
    .thanks .price del{
        display: none;
    }
}
/** 精细的沙漠 **/
.desert{
    font-size: 18px;
    text-align: left;
    color: #FFF;
    background: #6A737B;
    margin-top: 6%;
}
.desert .image{padding-right: 22px;}
.desert .image img{width: 100%; height: 100%;}
.desert .image-mobile{display: none;}
.desert .image,.desert .content{padding: 8% 0px;}
.desert .content-mobile{display: none;}
.desert .item h3{
    text-align: left;
    padding-top: 0px;
    margin-bottom: 8%;
    margin-left: 20px;
}
.desert .item h3:after{
    position: absolute;
    bottom: -20px; left: -20px;
}
.desert .meta{margin: 10% 0 5% 0;}
.desert .description p{
    line-height: 32px;
    text-indent: 2em;
}
@media screen and (max-width:992px){
    .desert .description p:last-child{
        display: none;
    }
}
@media screen and (min-width:520px) and (max-width:700px){
    .desert{
        font-size: 14px;
    }
    .desert .description p{
        line-height: 22px;
    }
}
@media screen and (max-width:520px){
    .desert{
        font-size: 14px;
    }
    .desert .image img{
        width: 80%; height: 80%;
        margin: 10% 10%;
    }
    .desert .item h3{
        text-align: center;
        margin-left: 0px;
    }
    .desert .item h3:after{
        bottom: -20px; left: calc(50% - 80px);
    }
    .desert .description p{
        font-size: 16px;
        line-height: 26px !important;
        padding: 0 5%;
    }
    .desert .meta{text-align: center;}
    .desert .description p{
        line-height: 22px;
    }
    .desert .image{
        display: none !important;
    }
    .desert .image-mobile{
        display: block !important;
    }
    .desert .content{
        display: none !important;
    }
    .desert .content-mobile{
        display: block !important;
    }
    .desert .image{
        padding: 0;
    }
}
/** 美味的食物 **/
.foods{
    margin-bottom: 5%;
}
.foods h3{
    margin-top: 3% !important;
}
.foods .ui.header{
    font-size: 22px !important;
    font-weight: normal;
    color: #FFF;
    background: #204056 !important;
}
.foods .description{
    font-size: 16px;
    text-indent: 2em;
    padding: 20px 8px;
}
.foods .description p{
    line-height: 28px;
}
.foods div a{
    color: #F65A65;
    font-size: 16px;
    text-shadow: 0 1px 1px;
    padding-left: 8px;
    padding-bottom: 10px;
}
@media screen and (max-width:992px){
    .foods .card{
        width: 46% !important;
        margin: 10px 2% !important;
    }
}
@media screen and (max-width:450px){
    .foods .card{
        width: 94% !important;
        margin: 10px 3% !important;
    }
}

/**** 页脚 ****/
footer{
    font-size: 16px;
    color: #FFF;
    background: #6A737B;
    padding-top: 4%;
    padding-bottom: calc(4% + 60px);
    position: relative;
}
footer .return-top{
    position: absolute;
    right: 10px; bottom: 70px;
}
footer .column .header,footer .column p{padding-left: 20%;}
footer .column .header{
    font-size: 19px;
    text-shadow: 0 1px 1px;
    color: #F65A5B;
    margin-bottom: 20px;
}
footer .copyright{
    width: 100%; height: 60px;
    line-height: 60px;
    text-align: center;
    background: #F65A5B;
    position: absolute;
    bottom: 0;
}
footer .copyright .social{
    position: absolute;
    bottom: 0; right: 20px;
}
footer .copyright .social a img{vertical-align: middle;}
@media screen and (max-width:992px){
    footer{
        min-height: 60px;
        padding: 0;
        margin-top: 10%;
    }
    footer .copyright .social,footer .bottom-nav{
        display: none !important;
    }
    footer .return-top{
        display: none;
    }
}
@media screen and (max-width:450px){
    footer{
        font-size: 12px;
    }
}