@charset "utf-8";
/*** 导航栏附加  ***/
.header_wrap .header ul li:nth-child(2){ color:#CE1D2D; }
/*** 页脚附加 ***/
.footer .footer_content .subnav_bottom span:nth-child(2) a{ color:#CD1F29; }	


/**导航下面的背景**/
.top_bg{
	width:1920px;
	height:110px;
	background-image:url(../images/top_bg.png);
	margin-bottom:38px;
	}
	
/******** 主体 *********/
.main{
	margin:0px auto;
	width:1200px;
	height:615px;
    }
/*****左部*****/
.main .left{
	width:216px;
	height:447px;
	background-image:url(../images/brand_left_img.png);
	background-repeat:no-repeat;
	float:left;
	}
/*****右部******/
.main .right_wrap{
	margin-left:20px;
	width:960px;
	height:575px;
	float:left;
	border-radius:12px;
	background-image:url(../images/contactUs_right_bg.jpg);
	color:#FFFFFF;
	}
.main .right_wrap .right{
	margin-top:32px;
	width:828px;
	height:453px;
	padding:0px 30px 0px 45px;
	}

	
/***mini导航菜单**/
.main .right_wrap .minimenu{ margin:32px 45px 0px 45px; }
.main .right_wrap .minimenu{
	color:#DED7D1;
	font-size:13px;	
	}
.main .right_wrap .minimenu span:nth-child(2){
	font-size:16px;
	color:#FFFFFF;
	font-weight:500;
	}
.main .right_wrap .minimenu a:hover{ color:#CA1E2C;	}

/**右部正文**/
.main .right_wrap .right h2{
	font-size:18px;
	margin-bottom:8px;
	}
.main .right_wrap .right p{
	font-size:13px;
	line-height:27px;
	text-indent:2em;
	}
.main .right_wrap .right .secondP{ margin-bottom:30px;}





