@charset "utf-8";
/*** 导航栏附加  ***/
.header_wrap .header ul li:nth-child(5){ color:#CE1D2D; }
/*** 页脚附加 ***/
.footer .footer_content .subnav_bottom span:nth-child(5) a{ color:#CD1F29; }	


/**导航下面的背景**/
.top_bg{
	width:1920px;
	height:110px;
	background-image:url(../images/top_bg.png);
	margin-bottom:38px;
	}
	
/******** 主体 *********/
.main{
	margin:0px auto;
	width:1200px;
	height:615px;
    }
/*****左部*****/
.main .left{
	width:216px;
	height:447px;
	background-image:url(../images/contactUs_left_img.png);
	background-repeat:no-repeat;
	float:left;
	}
/*****右部******/
.main .right_wrap{
	margin-left:20px;
	width:960px;
	height:575px;
	float:left;
	border-radius:12px;
	background-image:url(../images/contactUs_right_bg.jpg);
	color:#FFFFFF;
	}
.main .right_wrap .right{
	margin-top:32px;
	width:828px;
	height:453px;
	padding:0px 30px 0px 45px;
	}

	
/***mini导航菜单**/
.main .right_wrap .minimenu{ margin:32px 45px 0px 45px; }
.main .right_wrap .minimenu{
	color:#DED7D1;
	font-size:13px;	
	}
.main .right_wrap .minimenu span:nth-child(2){
	font-size:16px;
	color:#FFFFFF;
	font-weight:500;
	}
.main .right_wrap .minimenu a:hover{ color:#CA1E2C;	}

/***联系信息***/
.main .right_wrap .right .contact_table table{ float:left; }
.main .right_wrap .right .contact_table table{
	width:350px;
	height:264px;
	font-size:13px;
	color:#FFFFFF;
	border:none;
	}
.main .right_wrap .right .contact_table table tr td:nth-child(1){
	width:65px;
	height:25px;
	border:none;
	}
.main .right_wrap .right .contact_table table tr td:nth-child(2){
	width:280px;
	border:none;	
	}	
.main .right_wrap .right .contact_table table tr td{border:none;}	
/***留言板***/
.main .right_wrap .right .message_wrap{
	width:460px;
	height:320px;
	float:left;
	font-size:14px;
	}
.main .right_wrap .right .message_wrap .message{
	margin-left:65px;
	}
.main .right_wrap .right .message_wrap .message .sender{ margin-bottom:14px; }
.main .right_wrap .right .message_wrap .message .sender span{ border-bottom:#FFFFFF solid 1px; }
.main .right_wrap .right .message_wrap .message .sender .name{
	width:111px;
	padding-bottom:4px;
	margin-right:73px;	
	}
.main .right_wrap .right .message_wrap .message .sender .name input{
	padding-left:5px;
	width:75px;
	background-color:transparent;
	border:none;
	color:#FF0;
	font-size:16px;
	}
.main .right_wrap .right .message_wrap .message .sender .email{ padding-bottom:5px;}
.main .right_wrap .right .message_wrap .message .sender .email input{
	background-color:transparent;	
	border:none;
	padding-left:5px;
	color:#FF0;
	font-size:16px;
	width:170px;
	}
.main .right_wrap .right .message_wrap .message .message_board{ margin-top:8px; }
.main .right_wrap .right .message_wrap .message .message_board textarea{
	background-color:transparent;
	border:#FFFFFF solid 1px;
	width:385px;
	height:145px;
	border-radius:6px;
	color:#FF0;
	font-size:16px;
	padding-left:5px;
	}
.main .right_wrap .right .message_wrap .message .submit{ margin-top:33px; }
.main .right_wrap .right .message_wrap .message .submit input{
	width:80px;
	height:33px;
	background-color:#D22135;
	font-size:15px;
	color:#FFFFFF;
	border-radius:5px;
	cursor:pointer;
	border:hidden;
	}

/***地图***/
.main .right_wrap .right .map{
	width:805px;
	height:500px;
	border:#ccc solid 1px; 
	clear:both; 
	border-radius:15px;
	background-image:url(../images/contactUs_map.png);
	}
.iw_poi_title {
	olor:#CC5522;
	font-size:14px;
	font-weight:bold;
	overflow:hidden;
	padding-right:13px;
	white-space:nowrap
	}
.iw_poi_content {
	font:12px arial,sans-serif;
	overflow:visible;
	padding-top:4px;
	white-space:-moz-pre-wrap;
	word-wrap:break-word
	}