@charset "utf-8";
/*** 导航栏附加  ***/
.header_wrap .header ul li:nth-child(4){ color:#CE1D2D; }
/*** 页脚附加 ***/
.footer .footer_content .subnav_bottom span:nth-child(4) a{ color:#CD1F29; }	


/**导航下面的背景**/
.top_bg{
	width:1920px;
	height:110px;
	background-image:url(../images/top_bg.png);
	margin-bottom:38px;
	}
/***正文***/
.middle{
	margin:30px auto;
	width:1220px;
	height:574px;
}
/***顶部图片***/
.top_bg{
	height:110px;
	width:1920px;
	margin:auto;
}
/***左图***/
.middle .left{
	margin-right:20px;
	display:block;
	float:left;
	width:209px;
}
/***右侧***/
.right{
	padding:20px;
	float:right;
	width:950px;
	height:575px;
	background:url(../images/product%20bg.jpg);
	background-repeat:no-repeat;

}
.right .product_list{
	margin-top:45px;
	width:900px;
	height:440px;
}
.right .right_minimenu{ margin:15px 0px 0px 28px;}
.right .right_minimenu a:hover{ color:#CE1D2F;}
/***当前位置链接***/
.right span, .right span a{
	font-family:"微软雅黑";
	color:#FFF;
	font-size:12px;
}
/***产品列表***/
.right .product{
	display:block;
	float:left;
	width:222px;
	height:150px;
	margin:0px 30px 90px 30px;
	line-height:20px;
}
.right .product span{
	font-size:20px;
}
.product img{ vertical-align:bottom;}