@charset "utf-8";
/*** 导航栏附加  ***/
.header_wrap .header ul li:nth-child(6){ color:#CE1D2D; }
/*** 页脚附加 ***/
.footer .footer_content .subnav_bottom span:nth-child(6) a{ color:#CD1F29; }	


/**导航下面的背景**/
.top_bg{
	width:1920px;
	height:110px;
	background-image:url(../images/top_bg.png);
	margin-bottom:38px;
	}
	
/******** 主体 *********/
.main{
	margin:0px auto;
	width:1200px;
	height:675px;
	margin-top:40px;
	margin-bottom:48px;
	padding-top:1px;
	background-image:url(../images/login_middleBg.jpg);
    }
.main .minimenu{
	background-image:url(../images/login_minimenu.png);
	background-position:left;
	background-repeat:no-repeat;
	height:40px;
	margin:25px 0px 0px 68px;
	padding-left:132px;
	font-size:17px;
	color:#FFF;
	padding-top:20px;
	}
/***中间部分***/
.main .middle{ margin-left:75px;}
/**左边背景**/
.main .middle .leftBg{
	height:460px;
	background-image:url(../images/login_leftBg.png);
	background-repeat:no-repeat;
	background-position:left 62px;
	float:left;
	width:530px;
	}
/**右边登录内容**/
.main .middle .rightContent{
	width:510px;
	height:380px;
	float:left;
	padding-top:53px;
	color:#FFF;
	font-size:14px;
	}
.main .middle .rightContent table{
	border:none;
	width:510px;
	height:308px;
	}
/**第一行tr**/
.main .middle .rightContent table img{ vertical-align:middle;}
.main .middle .rightContent table tr td:nth-child(1){
	vertical-align:baseline;
	height:20px;
	width:73px;
	}
.main .middle .rightContent table tr td{
	border:none;
	height:36px;
	}
.main .middle .rightContent table tr td .login_link{
	width:150px;
	height:20px;
	float:right;
	margin-right:20px;
	padding-right:34px;
	}
/**第二~五行tr**/
.textTd{
	padding-top:8px;
	text-align:right;
	}
.main .middle .rightContent table tr td .getNumber{
	float:right;
	width:115px;
	height:26px;
	border:#CA1E2E solid 2px;
	font-size:15px;
	padding-top:6px;
	text-align:center;
	}

.main .middle .rightContent table tr td #textInput1{
	width:265px;
	height:34px;
	border:#F4D7AB solid 1px;
	}
.main .middle .rightContent table tr td #textInput2{
	width:138px;
	height:34px;
	border:#F4D7AB solid 1px;	
	}
.main .middle .rightContent table tr td #textInput3{
	width:177px;
	height:34px;
	border:#F4D7AB solid 1px;	
	}
.main .middle .rightContent table tr td #textInput4{
	width:177px;
	height:34px;
	border:#F4D7AB solid 1px;	
	}
/**登录按钮**/
.main .middle .rightContent table tr td .regButton{
	width:99px;
	height:30px;
	background-color:#CD1E2F;
	color:#FFF;
	border:none;
	cursor:pointer;
	}


