/*
* @Date:   2017-06-20 16:10:32
* @Last Modified time: 2017-06-25 22:13:28
*/

/* ==========
    头部
   ========== */

nav{
    max-width: 86%;
    margin: 22px 7% 25px 7%;
}
nav ul{ font-size:0; }
nav ul li{
    box-sizing: border-box;
    width: 23%;
    margin: 0px 1%;
    display: inline-block;
}


/* ==========
    主要内容
   ========== */

/** 各版块通用 **/
.container h1,h3{
    text-align: center;
    color: #551B27;
}
.container h1{
    font-size: 28px;
    margin-bottom: 18px;
}
.container div{
    color: #444444;
    text-indent: 2em;
    font-size: 17px;
    line-height: 30px;
    margin: 0px 5% 46px 5%;
}
.container .more{
    font-size: 21px;
    line-height: 60px;
    float: right;
    margin-bottom: 20px;
}
.container div img{
    max-width: 90%;
    margin: 0px 5%;
}

/** 新闻中心 **/
.news .news_title{
    font-size: 22px;
    line-height: 60px;
    text-indent: 0;
    color: #551B27;
    margin:0px 5%;
}
.news .news_content ul{
    text-indent: 0em;
    line-height: 32px;
    margin:12px 7%;
}
.news .news_content ul li span{
    width: calc(100% - 111px);  //动态计算长度值
    display: block;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/** 产品中心 **/
.product .product_list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.product .product_list a{
    max-width: 33.3333%;
    margin-top: 40px;
}


/* ==========
    页脚
   ========== */
footer{
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    padding: 10px 0px 15px 0px;
    color: #9D9D9D;
    background: #E5E5E5;
}
footer p:first-child{ margin-bottom:4px; }
@media screen and (min-width: 450px) and (max-width: 800px) {
    footer{
        font-size: 18px;
    }
}
