/*
* @Date:   2017-06-21 21:51:26
* @Last Modified time: 2017-06-22 22:58:33
*/

/* =========
    头部
   ========= */
header nav{ background: #E3E3E3; }
header nav ul{
    display: flex;
    margin: 0px 3%;
}
header nav ul li{
    width: 25%; height: 70px;
    font-size: 16px;
    text-align: center;
    line-height: 70px;
    color: #444444;
    position: relative;
}
header nav ul li span{
    width: 95%; height: 6px;
    border-radius: 2px;
    background: #3B8EDE;
    position: absolute;
    left: 2.5%;
    bottom: 3px;
    display: none;
}
@media screen and (min-width: 420px) and (max-width: 800px) {
    header nav ul li{
        font-size: 21px;
    }
}

/* =========
    主要内容
   ========= */
article{
    width: 94%;
    margin: 0px 3%;
    font-size: 12px;
    text-indent: 2em;
    margin-top: 25px;
    color: #5D5D5D;
}
article a{
    display: flex;
}
article img{
    width: 40%;
}
article div{
    width: 60%;
    padding-left: 5px;
}
article div h3{
    text-indent: 0;
    color: #3B8EDE;
}
@media screen and (min-width: 480px) and (max-width: 800px) {
    article{
        font-size: 18px;
        line-height: 26px;
    }
    article img{
        width: 30%;
    }
    article div{
        width: 70%;
        padding-left: 5px;
    }
    article div h3{
        margin: 5px 0px;
    }
}

.pageturn ul{
    margin:35px 0px 25px 0px;
    display: flex;
    justify-content: center;
}
.pageturn ul li a{
    font-size: 16px;
    padding:2px 5px;
}
@media screen and (min-width: 480px) and (max-width: 800px) {
    .pageturn ul li a{
        font-size: 21px;
        padding:5px 10px;
    }
}