/*
* @Date:   2017-06-21 23:05:13
* @Last Modified time: 2017-06-22 19:44:40
*/

/* ===========
    主要内容
   =========== */
.news_detail h1{
    height: 95px;
    line-height: 95px;
    font-size: 22px;
    text-align: center;
    color: #3285D5;
}
@media screen and (min-width: 420px) and (max-width: 800px) {
    .news_detail h1{
        font-size: 27px;
    }
}
.news_detail img{
    width: 94%;
    margin: 0px 3%;
}
.news_detail p{
    width: 90%;
    margin: 40px 5% 45px 5%;
    line-height: 30px;
    font-size: 16px;
    color: #26294A;
}

.pageturn ul{
    margin:35px 0px 25px 0px;
    display: flex;
    justify-content: center;
}
.pageturn ul li a{
    font-size: 16px;
    padding:2px 5px;
}
@media screen and (min-width: 480px) and (max-width: 800px) {
    .pageturn ul li a{
        font-size: 21px;
        padding:5px 10px;
    }
}