/*
* @Date:   2017-06-22 20:08:55
* @Last Modified time: 2017-06-25 22:07:09
*/

/* ===========
    主要内容
   =========== */
.pro_detail{
    padding-bottom: 16px;
    border-bottom: 10px #E3E3E3 solid;
}
.pro_detail img{
    width: 92%;
    margin: 0px 4%;
}
.pro_detail h2{
    color: #3B8EDE;
    text-align: center;
    margin-bottom: 30px;
}
.pro_detail p{
    width: 94%;
    line-height: 40px;
    font-size: 16px;
    margin: 0px 3%;
}
@media screen and (min-width: 420px) and (max-width: 800px) {
    .pro_detail h2{
        font-size: 28px;
        margin-bottom: 45px;
    }
    .pro_detail p{
        font-size: 18px;
    }
}

.pro_others{
    width: 92%;
    margin: 0px 4% 20px 4%;
}
.pro_others h2{
    color: #3B8EDE;
    line-height: 60px;
}

.pro_others > div img{
    width: 31.3333%;
    display: inline-block;
}
@media screen and (min-width: 420px) and (max-width: 800px) {
    .pro_others h2{
        font-size: 28px;
        line-height: 85px;
    }
}
