@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
	}
body{
	font-family:"微软雅黑";
	background-image:url(../images/about_bg.jpg);
	background-position:center -160px;
    background-repeat:no-repeat;
	}
.container{
	width:1000px;
	margin:auto;
	}
/**广告条**/
.banner{
	height:255px;
    padding:115px 0px 0px 30px;
	}
.banner .big{

    text-shadow:2px 2px 1px #BEBEBE;
	font-family:"微软雅黑";
	font-size:48px;
	color:#FFF;
	float:left;
	}
.banner .little{
	padding-left:120px;
	text-shadow:2px 2px 1px #B3B3B3;

	padding-top:11px;
	font-family:"微软雅黑";
	font-size:38px;
	color:#FFF;

	float:left;
	}
	
/**主体**/
.main{
	height:780px;
	background-color:#FFF;
	border:#F7F7F7 4px solid;
	}


/**左边菜单**/
.menu{
	float:left;
	margin:25px 25px;
	width:200px;
	height:268px;
	border:#9B9B9B 1px solid;
	
	}
.menu_title{
	background-color:#0AA71A;
	color:#FFF;
	font-size:19px;
	padding:10px 15px;
	}

.menu_link p{
	margin-top:9px;
	margin-left:15px;
	}	
.menu_link a {
    font-size: 15px;
	color:#7C7C7C;
    }
.menu_link a:link {
	text-decoration: none;
}
.menu_link a:visited {
	text-decoration: none;
	color:#7C7C7C;
}
.menu_link a:hover {
	text-decoration: none;
	color:#0C0;
}
.menu_link a:active {
	text-decoration: none;
}
	
/**右边内容**/
.right{
	width:715px;
	
	float:right;
	padding:25px 25px 0px 0px;
	}
.top{
	border-bottom:#D0D0D0 2px solid;
	padding-bottom:15px;
	
	font-size:15px;
	color:#6A6A6A;
	}
.bigtitle{
	float:left;
	font-size:35px;
	color:#2DBA03;
	margin-right:16px;
	padding-right:16px;
	border-right:#D0D0D0 2px solid;

	}
.article{
	padding-top:18px;
	padding-bottom:19px;
	border-bottom:#D0D0D0 2px solid;
	}
.article_text{
	line-height:20px;
	font-size:13px;
	color:#6A6A6A;
	
	width:495px;
	height:174px;
	padding-left:15px;
	float:right;
	}
.article_text_title{
	color:#11B509;
	font-size:16px;
	margin-bottom:26px;
	}
.more{
	
	font-size:14px;
	float:right;
	padding-right:10px;
	}
.more a{
	color:#B7B7B7;
	text-decoration:none;
	}
.more a:link{
	text-decoration:none;	
	}
.more a:hover{
	color:#0C0;
	text-decoration:none;
	}
.more a:visited{
	text-decoration:none;
	color:#B7B7B7;
	}
.common{
	padding-bottom:14px;
	border-bottom:#D0D0D0 2px solid;
	line-height:21px;
	font-size:14px;
	float:right;
	width:715px;
	margin-right:24px;
	color:#6A6A6A;
	}
.common_title{
	
	padding-top:23px;
	padding-bottom:19px;
    font-size:23px;
	color:#22B509;
	}
.number{
	color:#36C;
	}

