@charset "utf-8";
/* CSS Document */

/**页脚**/
.footer_01{
	text-align:center;
	margin-top:100px;
	color:#8C8C8C;
	font-size:14px;
	margin-bottom:3px;
	}
.footer_02{
	background-image:url(../images/footer_bg.jpg);
	width:1400px;
	color:#FFF;
	text-align:center;
	padding-bottom:6px;
	padding-top:6px;
	margin:auto;
	font-size:15px;
	}
	

.footer_01 a:link {
	text-decoration: none;
	color:#9D9D9D;
}
.footer_01 a:visited {
	text-decoration: none;
	color:#9D9D9D;
}
.footer_01 a:hover {
	text-decoration:none;
	color:#F60;
}
.footer_01 a:active {
	text-decoration: none;
}