@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
	}
body{
	font-family:"微软雅黑";
	background-image:url(../images/index_bg.jpg);
	background-position:center -160px;
    background-repeat:no-repeat;
	}
.container{
	width:1000px;
	margin:auto;
	}
/**导航栏**/

/**广告条**/
.banner{
	height:150px;
    padding:220px 0px 0px 30px;
	}
.banner .big{
	text-shadow:2px 2px 1px #BEBEBE;
	font-family:"微软雅黑";
	font-size:53px;
	color:#FFF;
	float:left;
	}
.banner .little{
	text-shadow:2px 2px 1px #BEBEBE;
	padding-top:11px;
	font-family:"微软雅黑";
	font-size:42px;
	color:#FFF;
	}
/**主体**/
.main{
	height:815px;
	background-color:#FFF;
	border:#F7F7F7 4px solid;
	}
.left{
	float:left;
	width:630px;
	margin-right:20px;
	padding:22px 0px 0px 18px;
	}
/**新闻中心**/
.title{
	color:#CCC;
	padding-bottom:13px;
	}
.title_1{
	color:#079A28;
	}
.news{
	padding-top:11px;
	border-top:#0CBE1A 2px solid;
	height:157px;
	border-bottom:#CCC 1px dotted;
	}
.news_1{
	color:#666;
	height:130px;
	font-size:13px;
	width:389px;
	float:right;
	padding:10px 0px 0px 21px;
	}
.news_1 a{
	color:#09F;
	text-decoration:none;
	}

.news_2{
	color:#666;
	font-size:14px;
	text-indent:1em;
	border-bottom:#CCC 1px dotted;
	padding:6px 0px 6px 0px;
	}
.news_3{
	background-image:url(../images/news_03_bg.jpg);
	padding:0px;
	font-size:18px;
	text-indent:1em;
	height:30px;
	margin:25px 0px 16px 0px;
	background-color:#E4E4E4;
	}
.news_3_1{
	float:left;
	}
.news_3_2{
	color:#666;
	font-size:16px;
	padding:5px 0px 5px 15px;
	height:40px;

	}

.right{
    padding:22px 15px 0px 15px;
    }

.more{
	
	font-size:14px;
	float:right;
	padding-right:10px;
	}
.more a{
	color:#B7B7B7;
	text-decoration:none;
	}
.more a:link{
	text-decoration:none;	
	}
.more a:hover{
	color:#0C0;
	text-decoration:none;
	}
.more a:visited{
	text-decoration:none;
	color:#B7B7B7;
	}
	
/**品牌与产品**/

.product_1{
	height:101px;
	float:left;
	border-bottom:#CCC 1px solid;
	border-top:#CCC 1px solid;
	}
.product_2{
	border-bottom:#CCC 1px solid;
	border-top:#CCC 1px solid;
	float:left;
	width:273px;
	height:101px;
	}
/**加盟广告**/
.sidebar_01{
	margin-top:120px;
    }
.sidebar_02{
	margin-top:18px;
	}
.bottom{
	padding:10px 0px 0px 20px;
	}
/**营养与健康**/ /**360探秘**/
.health{
	float:left;
	margin-right:20px;
	}
.health_00{
	float:left;
	width:465px;
	border:#CCC 1px solid;
	
	}
.health_01{
	width:220px;

	float:left;
	padding:14px 0px 0px 15px;
	color:#646464;
	font-size:12px;
	}
.health_01 a{
	color:#09F;
	text-decoration:none;
	}
h3{
	color:#494949;
	font-size:16px;
	font-weight:lighter;
	margin-bottom:6px;
	}
		
