@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
	}
body{
	font-family:"微软雅黑";
	background-image:url(../images/introduce_bg.jpg);
	background-position:center -60px;
    background-repeat:no-repeat;
	}
.container{
	width:1000px;
	margin:auto;
	}
/**导航栏**/

/**广告条**/
.banner{
	height:150px;
    padding:220px 0px 0px 30px;
	}
.banner .big{
	text-shadow:2px 2px 1px #BEBEBE;
	font-family:"微软雅黑";
	font-size:53px;
	color:#FFF;
	float:left;
	}
.banner .little{
	text-shadow:2px 2px 1px #BEBEBE;
	padding-top:11px;
	font-family:"微软雅黑";
	font-size:42px;
	color:#FFF;
	}
	
/**主体**/
.main{
	padding:15px;
	height:1030px;
	background-color:#FFF;
	border:#F7F7F7 4px solid;
	}

.top{
	line-height:25px;
	text-indent:2em;
	color:#6A6A6A;
	border-bottom:#CCC 1px solid;
	padding-bottom:8px;
	font-size:16px;
	margin-bottom:15px;
	}
.table01{
	color:#3A3A3A;
	margin-bottom:20px;
	}
	
.title{
	font-size:22px;
	border-left:#F60 18px solid;
	padding-left:20px;
	margin-bottom:8px;
	}
.text01{

	color:#676767;
	text-indent:2em;
	line-height:28px;
	margin-bottom:15px;
	}
.img{
	display:block;
	float:right;
	}
