@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
	}
body{
	font-family:"微软雅黑";
	background-image:url(../images/news_bg.jpg);
	background-position:center -70px;
    background-repeat:no-repeat;
	}
.container{
	width:1000px;
	margin:auto;
	}

/**广告条**/
.banner{
	height:255px;
    padding:115px 0px 0px 30px;
	}
.banner .big{
	text-shadow:2px 2px 1px #BEBEBE;
	color:#FFF;
	font-family:"微软雅黑";
	font-size:48px;
	float:left;
	}
.banner .little{
	text-shadow:2px 2px 1px #B3B3B3;
	color:#FFF;
	padding-left:120px;
	padding-top:11px;
	font-family:"微软雅黑";
	font-size:38px;

	float:left;
	}
	
/**主体**/
.main{
	height:940px;
	background-color:#FFF;
	border:#F7F7F7 4px solid;
	}

/**左边菜单**/
.left{
	height:940px;
	float:left;
	}
.menu{
	margin:25px 25px;
	width:200px;
	height:154px;
	border:#9B9B9B 1px solid;
	
	}
.menu_title{
	background-color:#09F;
	color:#FFF;
	font-size:19px;
	padding:10px 15px;
	}

.menu_link p{
	margin-top:9px;
	margin-left:15px;
	}	
.menu_link a {
    font-size: 15px;
	color:#7C7C7C;
    }
.menu_link a:link {
	text-decoration: none;
}
.menu_link a:visited {
	text-decoration: none;
}
.menu_link a:hover {
	text-decoration: none;
	color:#09F;
}
.menu_link a:active {
	text-decoration: none;
}	


/**右边内容**/	
.right{
	height:940px;
	width:714px;	
	float:right;
	padding:25px 25px 0px 0px;
	}
.top{
	border-bottom:#D0D0D0 1px solid;
	padding-bottom:15px;
	
	font-size:15px;
	color:#6A6A6A;
	}
.bigtitle{
	float:left;
	font-size:35px;
	color:#09F;
	margin-right:16px;
	padding-right:16px;
	border-right:#D0D0D0 2px solid;

	}
.common_title{
	clear:both;
	padding-top:21px;
	padding-bottom:19px;
	color:#09F;
	font-size:20px;
	}

/**右边内容_图片新闻**/
.right_01{
	float:left;
	margin-right:38px;
	width:453px;
	line-height:21px;
	font-size:13px;
	color:#6A6A6A;
	}
.right_01 .p1{
	float:left;
	width:215px;
	height:260px;
	background-color:#DDD;
	}
h4{
	font-size:15px;
	color:#333;
	font-weight:normal;
	}
.text{
	padding:6px;
	}
.right_01 .p2{
	float:right;
	width:215px;
	height:260px;
	background-color:#DDD;
	}

.detail{	
	font-size:13px;
	float:right;
	padding-right:10px;
	}
.detail a{
	color:#A0A0A0;
	text-decoration:none;
	}
.detail a:hover{
	color:#09F;
	text-decoration:none;
	}
.detail a:visited{
	text-decoration:none;
	color:#A0A0A0;
	}

/**右边内容_新闻中心**/
.article{
	padding-top:14px;
	padding-bottom:13px;
	border-top:#D0D0D0 1px dotted;
	}
h3{
	color:#333;
	padding-bottom:6px;
	font-size:17px;
	font-weight:normal;
	}
.article .time{
	padding-bottom:8px;
	padding-top:10px;
	}
.more{
	padding-bottom:23px;
	font-size:14px;
	float:right;
	padding-right:10px;
	}
.more a{
	color:#B7B7B7;
	text-decoration:none;
	}
.more a:hover{
	color:#09F;
	text-decoration:none;
	}
.more a:visited{
	text-decoration:none;
	}

/**右边内容_热点新闻**/
.right_02{
	float:right;
	width:215px;
	height:260px;
	}
.focus{
	color:#999;
	font-size:12px;
	width:213px;
	height:260px;
	border:#D0D0D0 1px solid;
	}
.focus ul{
	padding:4px 7px 0px 7px;
	list-style:inside url(images/duty_list.jpg);
	}
.focus ul li{
	padding-bottom:12px;
	padding-top:12px;
	border-bottom:#D0D0D0 1px solid;
	}

.focus ul li a:link {
	color: #999;
	text-decoration: none;
}
.focus ul li a:visited {
	text-decoration: none;
	color: #999;
}
.focus ul li a:hover {
	text-decoration: none;
	color:#09F;
}
.focus ul li a:active {
	text-decoration: none;
}
	

a:link {
	color: #999;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #999;
}
a:hover {
	text-decoration: none;
	color: #36F;
}
a:active {
	text-decoration: none;
}